* {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

img {
  width: 100%;
}

.wrapper {
  display: flex;
  margin-top: 33px;
  margin-bottom: 33px;
  margin-left: 35px;
  margin-right: 35px;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 48px;
  padding-right: 94px;
  background-color: rgba(210, 210, 210, 0.59);
  border-radius: 10px;
}

.profile {
  display: flex;
  gap: 30px;
}

.profile__picture {
  width: 72px;
}
